.App {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}
.accessJarvis {
  height: 100px;
    width: 100px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}
.accessJarvis:active {
  box-shadow: 3px 3px 30px 17px #042338;
}
.clickBtnImage {
  border-radius: 50%;
    border: none;
    height: 100px;
    width: 100px;
}
@media screen and (max-width: 1250px) and (max-height: 1250px) {
  body {
    background-attachment: fixed;
  }
}