body {
  margin: 0;
  background-image: url(../public/images/pexels-pixabay-220201.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
